<div class='row'>
	<div class='c12 bg-color-chinook'>
		<div class='c8 o2 margin-top margin-bottom'>
			<form class='form-post' class='form-border' action='create' method='post'>
				<label>Title: 
					<input type='text' name='newpost[title]' name='title'/>
				</label>
				<label>Content: 
					<input type='textarea' name='newpost[content]' name='content'/>
				</label>
				<label>
					<input class='bg-cyan' type='submit' value='Submit' />
				</label>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			</form>
		</div>
	</div>
</div>
<div class='row'>
	<% @allposts.each do |p| %>
	<div class='c12 eachpost'>
		<div class='c10 o1 comment'>
			<p class='info'><%= p.username %> | <%= p.created_at %></p>
			<p class='title'><%= p.title %></h4>
			<p class='content'><%= p.content %></p>
			<div class='c6 o3 message'>				
				<form class='form-comment' action='messages/create' method='post'/>
					<input type='text' name='content' placeholder='comment'/>
					<input class='bg-cyan' type='submit' value='Submit' />
				</form>
			</div>
		</div>
	</div>
	<% end %>
</div>
<div class='row'>
	<div class='bottom c12 bg-grainy-gray'>
	</div>	
</div>	
