<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% content_for :jquery_code do %>
<script type='text/javascript'>
$(document).ready(function(){
	console.log('hello');
});
</script>
<% end %>
<%= yield :jquery_code %>
</head>
<body>
	<div class='container'>
		<div class='row'>
			<div class='c12 header-name'>
				<h2 class='bg-color-darkgray color-white text-center'><%= session[:username]%></h2>
			</div>
		</div>
		<div class='row'>
			<div class='c12 header-nav'>
				<div class='c2 o1'>
					<a href='/posts/index' class='allPosts'>All posts</a>
				</div>
				<div class='c2'>
					<a href='/posts/show' class='myPosts'>My Feed</a>
				</div>
				<div class='c6 text-right'>
					<a href='logout'>Log Out</a>
				</div>
			</div>
		</div>
		<%= yield %>
	</div>
</body>
</html>