<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% content_for :jquery_code do %>
<script type='text/javascript'>
console.log('hello');
$(document).ready(function(){
		$(document).on('click', '.login-button', function(){
			$( this ).css( "background-color", "RGB(66, 95, 118)" );
			$( this ).siblings('button').css( "background-color", "RGB(204, 204, 204)");
			$('.form-switch').html("<%= escape_javascript(render :partial => 'loginform' )%>");
		});
		$(document).on('click', '.reg-button', function(){
			$( this ).css( "background-color", "RGB(66, 95, 118)" );
			$( this ).siblings('button').css( "background-color", "RGB(204, 204, 204)");
			$('.form-switch').html("<%= escape_javascript(render :partial => 'regform' )%>");
		});
});
</script>
<% end %>
<%= yield :jquery_code %>
</head>
<body>


<%= yield %>

</body>
</html>
